/* Created by Eric Cotrina */

body#mainMaster { background: #ebf9ff url(../BrowardImages/bg.jpg) no-repeat center center fixed !important; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important; background-size: cover !important;line-height: 1.4 !important;}

body#athleticsMaster { background: #bababa url(../BrowardImages/bg_athletics.jpg) no-repeat center center fixed !important; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important; background-size: cover !important; }

div#masterBreadcrumb span { color: #005696 !important; }

a:link, a:active, a:visited { text-decoration: none !important; }

.bgBlue { background-color: #006ab8; }

.bgGrey { background-color: #002e52; }

.bgLightGrey { background-color: #4a4a4a; }

.bgPageLayout { background-color: #FFF; padding: 10px; }

.greenSmall { color: #FFF !important; background-color: #39ad00 !important; padding: 6px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.orangeSmall { color: #FFF !important; background-color: #e87300 !important; padding: 6px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.yellowSmall { color: #FFF !important; background-color: #ecb203 !important; padding: 6px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.purpleSmall { color: #FFF !important; background-color: #8a00ad !important; padding: 6px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.white { color: #FFF !important; }

.skyBlue { color: #7cb5ec !important; }

.darkBlue { color: #002e52 !important; }

.orange { color: #f39c12 !important; }

.black { color: #000 !important; }

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th { background-color: #006ab8; }

.paddingLiveChat { padding: 5px 0 0 15px; }

.hRuleGrey { border-bottom: 1px solid #ecf0f1; }

.liveChatWidget { position: fixed; font-family: AvenirNextDemi; bottom: 0; right: 5px; z-index: 999; background: #ffad65; width: 90px; height: 102px; z-index: 999; border: 1px solid #e87300; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

.liveChatWidgetHeader { background: #e87300; font-family: AvenirNextDemi; color: #FFF; text-align: center; font-size: 18px; }

.liveChatWidgetSlideUp { position: fixed; bottom: 0; right: 5px; z-index: 999; }

.liveChatWidgetSlideDown { position: fixed; bottom: -70px; right: 5px; z-index: 999; }

.padding10 { padding: 10px; }

.padding8 { padding: 8px; }

.padding20 { padding: 20px; }

.padding20LR { padding-left: 20px; padding-right: 20px; }

.padding20T { padding-top: 20px; }

.padding25T { padding-top: 25px; }

.padding30T { padding-top: 30px; }

.padding30B { padding-bottom: 30px; }

.padding35T { padding-top: 35px; }

.padding20B { padding-bottom: 20px; }

.padding8 { padding: 8px; }

.padding10T { padding-top: 10px; }

.padding10B { padding-bottom: 10px; }

.padding10L { padding-left: 10px; }

.margin30T { margin-top: 35px; }

.margin10LR { margin: 0 10px 0 10px; }

.margin10B { margin-bottom: 15px; }

.borderRight { border-right: 1px solid #FFF; }

.borderLeft { border-left: 1px solid #FFF; }

.size12 { font-size: 12px !important; }

.size16 { font-size: 16px !important; }

.size18 { font-size: 18px !important; }

.size24 { font-size: 24px !important; }

.size32 { font-size: 32px !important; }

.bold { font-weight: bold !important; }

.img50Height { height: 50% !important; }

.borderBottom { border-bottom: 1px solid #e5e5e5; }

.noRightBorder { border-right: none !important; }

.h1, .h1, h2, .h2, h3, .h3 { margin-bottom: 0 !important; }

.panel-heading { padding: 8px 15px !important; }

ul li { margin: 0; padding: 0; }

ol li { margin: 0; padding: 0; }

#PLContent img { display: inline-block; max-width: 100%; height: auto !important; }

#PLContent ol li { margin: 0 0 0 5px; padding: 0; }

#PLContent ul li { margin: 0 0 0 5px; padding: 0; }

#PLContent h1 { color: #4C4C4C; }

#PLContent h2 { color: #4C4C4C; }

#PLContent h3 { color: #4C4C4C; }

#PLContent h4 { color: #4C4C4C; }

#PLContent h5 { color: #4C4C4C; }

#PLContent h6 { color: #4C4C4C; }

#PLContent a { font-weight: bold; }

/*overwrite for warning alert*/
.alert { padding: 15px; margin-bottom: 0 !important; border: 1px solid transparent; border-radius: 0 !important; }

.alert-warning { background-color: #ff7e00; }

.navHeader { font-size: 14px !important; font-weight: bold !important; background-color: #227ca5 !important; border-right: 1px solid #FFF !important; font-family: AvenirNextDemi, serif !important; text-transform: uppercase; }

    .navHeader a { color: #FFF !important; }

.noStyle { background-color: transparent !important; color: #666 !important; font-weight: bold !important; }

.noListStyle { list-style: none !important; }

.listStyle { list-style: disc !important; margin: 0; }

.AvenirNextBold { font-family: AvenirNextBold, serif !important; font-style: normal; }

.AvenirNextDemi { font-family: AvenirNextDemi, serif !important; font-style: normal; }

.AvenirNextRegular { font-family: AvenirNextRegular, serif !important; font-style: normal; }

@font-face { font-family: 'AvenirNextBold'; src: url('../BrowardFonts/AvenirNextLTPro-Bold.eot'); src: url('../BrowardFonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), url('../BrowardFonts/AvenirNextLTPro-Bold.woff') format('woff'), url('../BrowardFonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('../BrowardFonts/AvenirNextLTPro-Bold.svg#add6a56a5a62396eaea1929a4942a5a6') format('svg'); }

@font-face { font-family: 'AvenirNextDemi'; src: url('../BrowardFonts/AvenirNextLTPro-Demi.eot'); src: url('../BrowardFonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), url('../BrowardFonts/AvenirNextLTPro-Demi.woff') format('woff'), url('../BrowardFonts/AvenirNextLTPro-Demi.ttf') format('truetype'), url('../BrowardFonts/AvenirNextLTPro-Demi.svg#9b4c7bb97a15852a038674d2e7642256') format('svg'); }

@font-face { font-family: 'AvenirNextRegular'; src: url('../BrowardFonts/AvenirNextLTPro-Regular.eot'); src: url('../BrowardFonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('../BrowardFonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../BrowardFonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('../BrowardFonts/AvenirNextLTPro-Regular.svg#fa20c367c6a148cda65f50238befb5f2') format('svg'); }

.noPadding { padding: 0 !important; }

.hamburgerMenu { font-family: AvenirNextRegular, serif; font-size: 24px !important; color: #FFF !important; text-decoration: none !important; }

.chart { width: 100%; height: 600px; }

.vertical-center { display: inline-block; vertical-align: middle; float: none; }

.btn-transparent { color: #000; background-color: #FFF; border-radius: 2px; margin: 5px; }

    .btn-transparent:hover, .btn-transparent:focus, .btn-transparent.focus, .btn-transparent:active, .btn-transparent.active, .open > .dropdown-toggle.transparent { color: #fff; background-color: transparent; border-color: #FFF; }

    .btn-transparent:active, .btn-transparent.active, .open > .dropdown-toggle.btn-default { background-image: none; }

.btn-customBlue { color: #005696 !important; background-color: #FFF !important; margin: 5px 5px 5px 0; }

.btn-customGreen { color: #FFF !important; background-color: #39ad00 !important; }

.btn-customOrange { color: #FFF !important; background-color: #e87300 !important; }

.list-group-item-clear { position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: transparent; border: 1px solid #ecf0f1; }

    .list-group-item-clear a { color: #FFF !important; }

    .list-group-item-clear:first-child { border-top-right-radius: 4px; border-top-left-radius: 4px; }

    .list-group-item-clear:last-child { margin-bottom: 0; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.borderWhite { -webkit-box-shadow: 0 4px 12px 0 rgba(50, 50, 50, 0.3); -moz-box-shadow: 0 4px 12px 0 rgba(50, 50, 50, 0.3); box-shadow: 0 4px 12px 0 rgba(50, 50, 50, 0.3); }

.sidebar { position: fixed; right: 0; bottom: 45%; z-index: 999; }

    .sidebar ul { margin: 0; padding: 0; list-style: none; }

    .sidebar li { height: 50px; }

        .sidebar li a { display: block; position: relative; text-decoration: none !important; }

        .sidebar li i { display: block; width: 50px; height: 50px; padding: 8px 0 0 0; font-size: 34px; text-align: center; text-decoration: none !important; }

        .sidebar li .txt { display: none; position: absolute; right: 50px; height: 50px; line-height: 50px; top: 0; white-space: nowrap; color: #fff; padding: 0 20px; font-size: 14px; }

.minusIcon { font-family: FontAwesome; content: "\f056" !important; }

.plusIcon { font-family: FontAwesome; content: "\f055" !important; }

/*Custom Responsive Styles*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    h3#leftNavTitle:before { font-family: FontAwesome; content: "\f055"; }

    #showQuickLinksBody { color: #FFF; background-color: #002e52; padding: 10px 15px; font-size: 15px !important; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; border: 1px transparent; border-top-right-radius: 2px; border-top-left-radius: 2px; }

    h1.resizeSlideHeading { margin: 10px 0 5px 0 !important; font-size: 28px !important; }

    .align-center-responsive { text-align: center !important; padding: 15px 0 15px 0; }

    .align-center-responsive2 { text-align: center !important; padding: 25px 0 15px 0; }

    .align-center-responsive-right { text-align: right; padding: 34px 0 0 0; }

    .liveChatWidget { position: fixed; font-family: AvenirNextDemi; bottom: 0; right: 5px; z-index: 999; background: #ffad65; width: 90px; height: 102px; z-index: 999; border: 1px solid #e87300; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

    .liveChatWidgetHeader { background: #e87300; font-family: AvenirNextDemi; color: #FFF; text-align: center; font-size: 18px; }

    .ms-srch-hover-outerContainer { display: none !important; }

    #quickLinksBody { display: none; }

    #sideMenu { display: block; }

    #megaMenu { display: none; }

    .sliderContentBox { width: 100% !important;}

    .breadcrumb {
        padding: 8px 0 !important;       
        background-color: transparent !important;
        border-bottom: none !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    h3#leftNavTitle:before { font-family: FontAwesome; content: "\f055"; }

    #showQuickLinksBody { color: #FFF; background-color: #002e52; padding: 10px 15px; font-size: 15px !important; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; border: 1px transparent; border-top-right-radius: 2px; border-top-left-radius: 2px; }

    h1.resizeSlideHeading { margin: 10px 0 5px 0 !important; font-size: 18px !important; }

    .align-center-responsive { text-align: center !important; padding: 15px 0 15px 0; }

    .align-center-responsive2 { text-align: center !important; padding: 25px 0 15px 0; }

    .align-center-responsive-right { text-align: right; padding: 34px 0 0 0; }

    .liveChatWidget { position: fixed; font-family: AvenirNextDemi; bottom: 0; right: 5px; z-index: 999; background: #ffad65; width: 90px; height: 102px; z-index: 999; border: 1px solid #e87300; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

    .liveChatWidgetHeader { background: #e87300; font-family: AvenirNextDemi; color: #FFF; text-align: center; font-size: 18px; }

    .ms-srch-hover-outerContainer { display: none !important; }

    #quickLinksBody { display: none; }

    #sideMenu { display: block; }

    #megaMenu { display: none; }

    .sliderContentBox { width: 100% !important;}

    .breadcrumb {
        padding: 8px 0 !important;       
        background-color: transparent !important;
        border-bottom: none !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h3#leftNavTitle:before { font-family: FontAwesome; content: "\f055"; }

    #showQuickLinksBody { color: #FFF; background-color: #002e52; padding: 10px 15px; font-size: 15px !important; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; border: 1px transparent; border-top-right-radius: 2px; border-top-left-radius: 2px; }

    h1.resizeSlideHeading { margin: 10px 0 5px 0 !important; font-size: 22px !important; }

    .align-center-responsive { text-align: left !important; padding: 15px 0 15px 0; }

    .align-center-responsive2 { text-align: center !important; padding: 28px 0 15px 0; }

    .align-center-responsive-right { text-align: right; padding: 34px 0 0 0; }

    .liveChatWidget { position: fixed; font-family: AvenirNextDemi; bottom: 0; right: 5px; z-index: 999; background: #ffad65; width: 90px; height: 102px; z-index: 999; border: 1px solid #e87300; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

    .liveChatWidgetHeader { background: #e87300; font-family: AvenirNextDemi; color: #FFF; text-align: center; font-size: 18px; }

    .ms-srch-hover-outerContainer { display: inline-block !important; }

    #quickLinksBody { display: none; }

    #sideMenu { display: block; }

    #megaMenu { display: none; }

    .sliderContentBox { width: 40% !important;}

    .breadcrumb {
        padding: 8px 0 !important;
        background-color: transparent !important;
        border-bottom: 2px #DDD solid !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    h3#leftNavTitle:before { font-family: FontAwesome; content: ""; }

    #showQuickLinksBody { text-align: left; color: #FFF; background-color: #006ab8; padding: 10px 15px; font-size: 24px !important; font-family: AvenirNextRegular, serif !important; border: 1px transparent; border-top-right-radius: 2px; border-top-left-radius: 2px; }

    h1.resizeSlideHeading { margin: 10px 0 5px 0 !important; font-size: 32px !important; }

    .align-center-responsive { text-align: left !important; padding: 15px 0 15px 0; }

    .align-center-responsive2 { text-align: center !important; padding: 28px 0 15px 0; }

    .align-center-responsive-right { text-align: right !important; padding: 34px 0 0 0; }

    .liveChatWidget { position: fixed; font-family: AvenirNextDemi; bottom: 0; right: 5px; z-index: 999; background: #ffad65; width: 90px; height: 102px; z-index: 999; border: 1px solid #e87300; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

    .liveChatWidgetHeader { background: #e87300; font-family: AvenirNextDemi; color: #FFF; text-align: center; font-size: 18px; }

    .ms-srch-hover-outerContainer { display: inline-block !important; }

    #quickLinksBody { display: block; }

    #sideMenu { display: none; }

    #megaMenu { display: block; }

    .sliderContentBox { width: 40% !important;}

    .breadcrumb {
        padding: 8px 0 !important;
        background-color: transparent !important;
        border-bottom: 2px #DDD solid !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h3#leftNavTitle:before { font-family: FontAwesome; content: ""; }

    #showQuickLinksBody { text-align: left; color: #FFF; background-color: #006ab8; padding: 10px 15px; font-size: 24px !important; font-family: AvenirNextRegular, serif !important; border: 1px transparent; border-top-right-radius: 2px; border-top-left-radius: 2px; }

    h1.resizeSlideHeading { margin: 10px 0 5px 0 !important; font-size: 32px !important; }

    .align-center-responsive { text-align: left !important; padding: 15px 0 15px 0; }

    .align-center-responsive2 { text-align: center !important; padding: 28px 0 15px 0; }

    .align-center-responsive-right { text-align: right !important; padding: 34px 0 0 0; }

    .liveChatWidget { position: fixed; font-family: AvenirNextDemi; bottom: 0; right: 5px; z-index: 999; background: #ffad65; width: 90px; height: 102px; z-index: 999; border: 1px solid #e87300; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

    .liveChatWidgetHeader { background: #e87300; font-family: AvenirNextDemi; color: #FFF; text-align: center; font-size: 18px; }

    .ms-srch-hover-outerContainer { display: inline-block !important; }

    #quickLinksBody { display: block; }

    #sideMenu { display: none; }

    #megaMenu { display: block; }

    .sliderContentBox { width: 40% !important;}

    .breadcrumb {
        padding: 8px 0 !important;
        background-color: transparent !important;
        border-bottom: 2px #DDD solid !important;
    }
}

/*End Custom Responsive Styles*/

.img-footerSlide { height: 100%; max-height: 200px; }

.facebookWall li { list-style: none; margin-bottom: 20px; overflow: hidden; padding-bottom: 25px; position: relative; border-bottom: 1px solid #FFF; }

    .facebookWall li img.avatar { float: left; }

.facebookWall h2 { font-size: 16px; font-weight: normal; margin-bottom: 5px; }

.facebookWall .status { width: 420px; padding-left: 65px; }

.facebookWall .attachment { border-left: 1px solid #c4c4c4; font-size: 12px; margin-top: 14px; overflow: hidden; padding-left: 10px; }

.facebookWall .attachment-data { display: table-cell; vertical-align: top; }

.facebookWall img.picture { float: left; margin-right: 10px; }

.facebookWall p.meta { color: #bbb; font-size: 11px; padding: 15px 0 0 65px; }

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }

    .rslides li { -webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }

        .rslides li:first-child { position: relative; display: block; float: left; }

    .rslides img { display: block; height: auto; float: left; width: 100%; border: 0; }

.events { list-style: none; }

.callbacks_container { margin-bottom: 50px; position: relative; float: left; width: 100%; }

.callbacks { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }

    .callbacks li { position: absolute; width: 100%; left: 0; top: 0; }

    .callbacks img { display: block; position: relative; z-index: 1; height: auto; width: 100%; border: 0; }

    .callbacks .caption { display: block; position: absolute; z-index: 2; font-size: 20px; text-shadow: none; color: #fff; background: #000; background: rgba(0, 0, 0, .8); left: 0; right: 0; bottom: 0; padding: 10px 20px; margin: 0; max-width: none; }

.callbacks_nav { position: absolute; -webkit-tap-highlight-color: #000000; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); top: 52%; left: 0; opacity: .7; z-index: 3; text-indent: -9999px; overflow: hidden; text-decoration: none; height: 61px; width: 38px; background: transparent url("../BrowardImages/themes.gif") no-repeat left top; margin-top: -45px; }

    .callbacks_nav:active { opacity: 1.0; }

    .callbacks_nav.next { left: auto; background-position: right top; right: 0; }

.news-slider .text-content { position: absolute; top: 0; left: 0; right: 0; background-color: #227ca5; opacity: .9; padding: 1em; width: 32%; height: 100%; color: #FFF; }

    .news-slider .text-content h2 { margin: 0; }

    .news-slider .text-content p { margin: 1em 0; }

    .news-slider .text-content a.button-link { padding: .25em .5em; position: absolute; bottom: 1em; right: 1em; }

.news-slider .image-content { line-height: 0; }

    .news-slider .image-content img { max-width: 100%; }

.news-slider .news-pager { text-align: right; display: block; margin: .2em 0 0; padding: 0; list-style: none; }

    .news-slider .news-pager li { display: inline-block; padding: .6em; margin: 0 0 0 1em; }

        .news-slider .news-pager li.sy-active a { color: #FFF; }

        .news-slider .news-pager li a { font-weight: 500; text-decoration: none; display: block; color: #FFF; }

.sliderContentBox { background: #002e52; opacity: 0.9; padding: 0 15px 15px 15px; left: 0 !important; }

.navbar-toggle { background-color: transparent !important; border: none !important; }

/* Bootstrap Overwrites */

.nav-tabs > ul > li { margin: 0; }

/* tab color */
.nav-tabs > li > a { background-color: #006ab8 !important; border-color: #006ab8 !important; color: #fff !important; padding: 10px; }

/* active tab color */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: #fff !important; background-color: #002e52 !important; border: 1px solid #002e52 !important; }

/* hover tab color */
.nav-tabs > li > a:hover { border-color: #2da5da !important; background-color: #2da5da !important; }

.mm-close:before { font-size: 24px !important; font-weight: bold !important; font-family: FontAwesome; content: "\f057"; color: rgba(0,0,0,0.7); }

.mm-close:after { display: none; }

.mm-title { font-size: 18px !important; font-family: AvenirNextRegular, serif !important; color: rgba(0,0,0,0.7) !important; }

.noBorderRadius { border-radius: 0 !important; }

@media only screen and (min-width : 768px) {
    .dropdown-menu { min-width: 140px; margin: 0 -100px; }
}

@media only screen and (min-width : 992px) {
    .dropdown-menu { min-width: 140px; margin: 0 -75px; }
}

@media only screen and (min-width : 1200px) {
    .dropdown-menu { min-width: 140px; margin: 0 -53px; }
}

/* BC Alert Web Part */

.panel-alertTitleCritical { color: #FFF; background-color: #B81D18; border-color: #ededed; }

.panel-alertTitleMedium { color: #FFF; background-color: #E87300; border-color: #ededed; }

.panel-alertTitleLow { color: #FFF; background-color: #8A00AD; border-color: #ededed; }

.bcAlertButton { background-color: rgba(0,0,0,0.4); border: 1px solid rgba(255,255,255,0.4); }

.bgDarkGrey { background-color: rgba(0,0,0,0.7); }

/* Global Image Slider */