.topmenu
{	
	margin: 0;
	padding: 0;
	display: none;
}
.topmenu li dfn
{	
	display: none;
}	
.topmenu li{
	border-bottom: 1px dotted #cccccc;/*ie hack*/
	padding:0;
	margin:0;
}
.topmenu > li, .topmenu li.firstLevel
{	
	border: 1px solid #cccccc;
	float: left;
	position: relative;
	list-style: none;
}
.topmenu li a
{	
	display: block;
	white-space: nowrap;
	text-align:center;
	padding: 3px 5px;
	text-decoration: none;
	background: #cccccc;
	font-weight: bold;
	position:relative;
}
.topmenu li a:hover
{	
	background: #aaaaaa;
}
.topmenu li ul
{	
	margin: 0;
	padding: 0;
	padding-top: 1px;
	position: absolute;
	display: none;
	background: #cccccc;
}
.topmenu li ul li
{	
	float: none;
	display: block;
	position:relative;
	z-index: 9999;
}
.topmenu li ul li a
{	
	width: auto;
	text-align: left;
	border: 0px solid #ffffff;
	border-top: 0;
	border-bottom: 0;
}
.topmenu li ul li ul li
{	
	left: 1px;	
}