<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tip Out</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body mx-auto" style="background-color:#d8111b;">

	<div class="container rounded" style="min-height:90%; background-color:#fff; width:95%">

		<div class="row" style='margin: 3% 5% 3% 5%'>
			  <div class="col  border border-danger rounded" style="border-color:red; margin: 4% 1% 1% 1%">
					<center>
							<img class="img-fluid mx-auto" src="https://finditatthemall.com/system/rich/rich_files/rich_files/000/001/848/original/benihana-logo1.png?1470154042" alt="benihana">
				  </center>
			  </div>

		</div>

		<hr style="border-color:rgba(242,0,0,1.00);">

		<div class='d-flex justify-content-center'>

					{% block content %}
					{% endblock %}


		</div>


		</div>

</body>

</html>
